$width-grid : 300px;
$height-grid: 100px;

$height-grid-header: 15px;
$height-grid-data: $height-grid - $height-grid-header -5;

$height-scroll-bar : 14px;

body {
    background-color: lightgray;
}

.grid {
    background-color: yellow;
    width: $width-grid;
    height: $height-grid;
    position: relative;

    .header-scroller { 

        position: absolute;
        right: 17px;
        left: 0;
        height: 100px;
        width: 100%;
        overflow: scroll;
        
        .header-content {
            table {
                table-layout: fixed;        
                background-color: #ff0990;
                width: 100%;
                height: 100%;
                empty-cells: show;
                border-collapse: collapse;
                        
                thead, th {
                    border: 0;
                }

                th {
                    border-right: 1px solid black;
                    width: 50px;
                    overflow: hidden;
                } 

                /* don't show the border on the last column */
                th:last-child {
                    border: 0;
                }
            }
        }

     
    }

    .data-scroller {
        height: 100%;
        width: 100%;
        background-color: #eee;
        overflow-x: auto;
        overflow-y: scroll;
        position: absolute;
        top: 0px;
        margin-top: 20px;
        bottom: 0px;

        .data-content {
            position:relative;
            table {
                table-layout: fixed;        
                width: 100%;
                border-collapse: collapse;

                &.alt {
                     

                    tr:nth-child(odd) {
                        background-color: #ddd;
                    }

                    tr:nth-child(even) {
                        background-color: #eee;
                    }
                }


                tr, td {
                    border: 0;
                }

                td {
                    border-right: 1px solid black;
                    width: 50px;
                    overflow: hidden;
                }

                /* don't show the border on the last column */
                td:last-child {
                    border: 0;
                }
            }
        }
    }

    .menu {
        position: absolute;
        background-color: #ff0990;

        right: 0;
        z-index: 10;
        width: 17px;
        height: 20px;
    }
}