body {
  background-color: lightyellow; }

.carrosel {
  box-sizing: border-box;
  position: relative; }
  .carrosel .slot {
    position: absolute;
    width: 150px;
    height: 100px; }
  .carrosel .show-from-right {
    animation: show-from-right 0.8s ease-out both; }
  .carrosel .show-from-left {
    animation: show-from-left 0.8s ease-out both; }
  .carrosel .hide-to-right {
    animation: hide-to-right 0.8s ease-out both; }
  .carrosel .hide-to-left {
    animation: hide-to-left 0.8s ease-out both; }

@keyframes show-from-right {
  from {
    left: 100%; }
  to {
    left: 0%; } }

@keyframes hide-to-left {
  from {
    left: 0%; }
  to {
    left: -100%; } }

@keyframes show-from-left {
  from {
    left: -100%; }
  to {
    left: 0%; } }

@keyframes hide-to-right {
  from {
    left: 0%; }
  to {
    left: 100%; } }
  .carrosel .viewport {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 100px;
    border: 1px solid black; }
  .carrosel .controllers {
    position: absolute; }

.content {
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  color: black;
  background-color: chartreuse; }

.bg-red {
  background-color: red; }

.bg-or {
  background-color: orchid; }
