$width-slot : 150px;
$height-slot: 100px;


body {
    background-color: lightyellow;
}

.carrosel {

    * {
        box-sizing: border-box;
    }

    position: relative;       

    .slot {                
        position: absolute;        
        width: $width-slot;
        height: $height-slot;                  
    }

 
  
  .show-from-right {
      animation: show-from-right 0.8s ease-out both;
  }

  .show-from-left {
      animation: show-from-left 0.8s ease-out both;
  }

  .hide-to-right {
      animation: hide-to-right 0.8s ease-out both;
  }

  .hide-to-left {
      animation: hide-to-left 0.8s ease-out both;
  }


       @keyframes show-from-right {
        from {left: 100%;}
        to {left: 0%;}
        }

        @keyframes hide-to-left {
            from {left: 0%;}
            to {left: -100%;}
        }

        @keyframes show-from-left {
            from {left: -100%;}
            to {left: 0%;}
        }

        @keyframes hide-to-right {
            from {left: 0%;}
            to {left: 100%;}
        }

    .viewport {
        position: relative;
        overflow: hidden;
        width: $width-slot;
        height: $height-slot;
        border: 1px solid black;
    }

    .goLeft, .goRight {  
        
        padding: 0px;
        margin: 0px;                    
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 15%;            
        font-size: 20px;
        color: blanchedalmond;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        background-color: rgba(0,0,0,0);
        filter: alpha(opacity=50);
        opacity: .5;

        .icon {
            position: absolute;
            top: 50%;
            z-index: 5;
            display: inline-block;
            margin-top: -10px;                
        }
    }

    .goRight {
        //background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
        right: 0;
        left: auto;

        .icon {                                
            right: 50%;
            margin-right: -7px; 
        }
    }

    .goLeft {
        // background-image: linear-gradient(to left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);

        .icon {
            left: 50%;
            margin-left: -7px; 
        }
    }
       



}

.content { 
    line-height: 100px;
    vertical-align: middle;
    //margin: auto;
    text-align: center;
    font-size: 30px;
    color: black;
    background-color: chartreuse;
    
}

    .bg-red {
        background-color: red;
    }

        .bg-or {
        background-color: orchid;
    }



   