$width-grid : 300px;
$height-grid: 100px;

$height-grid-header: 15px;
$height-grid-data: $height-grid - $height-grid-header -5;

$height-scroll-bar : 14px;

body {
    background-color: lightyellow;
}

.menu {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    position: relative;

    ul, li {
        margin: 0px;
        padding: 5px;
        word-break: keep-all;
    }    

    ul {
        list-style: none;
    }

    // Horizopntal menu
    // only the first level is horizontal
    &>ul {
        position:relative;        
    }
    &>ul>li {
        display:inline-block;
        position:relative;        
    }
    // Horizontal

    // first level
    &>ul>li ul {
        width: 120px;
        border: 1px solid red;
        position:absolute;
        left: 5px;
        margin-top: -3px;
        background-color: #eee;
        z-index: 10;

        li {            
            background-color: #eee;
            position:relative;
        }

    }

    .close {
        display: none;
    }

    .open{
        display: block;
        animation: pulse 0.1s ;
    }


}
@Keyframes pulse {
    0% {
        width: 0px;
        height: 0px;
    }

    100% {
        width:120px;
        height: 100%;
    }
}